{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Graph {{ symbol }} - {{ period }} {{ period_unit }}</title>
  {% tailwind_css %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.0.0/dist/chartjs-plugin-zoom.min.js"></script>
</head>
<body class="bg-gray-50 font-serif">
  <div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold text-center my-4">{{ company_name }} - Last {{ period }} {{ period_unit }}</h1>
    <p class="text-center text-gray-600">
        Currency : {{ currency }} | Time Zone : {{ timezone }}
      </p>
    <div class="flex items-center justify-center">
      <canvas id="stockChart" width="800" height="400"></canvas>
    </div>
    <div class="text-center mt-4">
      <a href="/" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Nouvelle recherche</a>
    </div>
  </div>
  
  <script>
    const chartData = JSON.parse('{{ chart_data|escapejs }}');

    const ctx = document.getElementById('stockChart').getContext('2d');
    const stockChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: chartData.dates,
            datasets: [{
                label: '{{ symbol }} - Price',
                data: chartData.prices,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                fill: false,
                tension: 0.1,
                pointRadius: 0,
            }]
        },
        options: {
            responsive: true,
            interaction: {
            mode: 'index',
            intersect: false,
          },
            plugins: {
              zoom: {
                zoom: {
                    wheel: {
                        enabled: true,
                        modifierKey: 'ctrl'
                    },
                    pinch: {
                        enabled: true
                    },
                    mode: 'xy',
                    speed: 0.1
                },
                pan: {
                    enabled: true,
                    mode: 'xy',
                    speed: 10,
                },
                limits: {
                    x: {
                        min: 0,
                        max: chartData.dates.length - 1
                    },
                    y: {
                        min: Math.min(...chartData.prices),
                        max: Math.max(...chartData.prices)
                    }
                }
                
            },
              tooltip: {
                  enabled: true,
                  mode: 'index',
                  intersect: false,
                  position: 'nearest'
              },
              crosshair: {
                  line: {
                    color: 'rgba(75, 192, 192, 1)',
                    width: 1
                  },
                  sync: {
                    enabled: false
                  },
                  zoom: {
                    enabled: false
                  },
                  snap: {
                    enabled: true
                  }
                }
            },
            elements: {
                line: {
                    tension: 0.1
                },
                point: {
                    radius: 0
                }
            },
            layout: {
                padding: {
                    left: 10,
                    right: 10,
                    top: 10,
                    bottom: 10
                }
          },
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Date'
                    },
                    ticks: {
                      autoSkip: true,
                      maxTicksLimit: 10,
                      maxRotation: 0,
                      minRotation: 0,
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Price'
                    }
                }
            }
        }
    });
  </script>
</body>
</html>