{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-gray-50 font-serif leading-normal tracking-normal">
   {% include "home/navbar.html" %}
   
   <!-- Page content -->
  <div class="container mx-auto">
    <section class="flex items-center justify-center h-screen">
        <form method="post" class="text-center space-y-4">
            {% csrf_token %}
            <label class="block text-xl font-semibold" for="symbol">Enter the index:</label>
            <input type="text" name="symbol" id="symbol" placeholder="ex: ^FCHI" class="p-2 border rounded w-1/2">
            <br>
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Afficher le graphique</button>
          </form>
          
    </section>
  </div>

  </body>
</html>
